<template>
    <form action="">
        <!--Label: Material, Attributes: material-->
        <div class="form-group row">
            <label for="material" class="col-sm-2 form-check-label">Material</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" id="material"
                       v-model="material"
                       name="material"
                       :class="{ 'is-invalid' : errors.material }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.material">
                    <strong>{{ errors.material.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Boiling Point, Attributes: boilingpoint-->
        <div class="form-group row">
            <label for="boilingpoint" class="col-sm-2 form-check-label">Boiling Point</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" id="boilingpoint"
                       v-model="boilingpoint"
                       name="boilingpoint"
                       :class="{ 'is-invalid' : errors.boilingpoint }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.boilingpoint">
                    <strong>{{ errors.boilingpoint.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Category, Attributes: category-->
        <div class="form-group row">
            <label for="category" class="col-sm-2 form-check-label">Category</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" id="category"
                       v-model="category"
                       name="category"
                       :class="{ 'is-invalid' : errors.category }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.category">
                    <strong>{{ errors.category.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Composition, Attributes: composition-->
        <div class="form-group row">
            <label for="composition" class="col-sm-2 form-check-label">Composition</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" id="composition"
                       v-model="composition"
                       name="composition"
                       :class="{ 'is-invalid' : errors.composition }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.composition">
                    <strong>{{ errors.composition.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Appearance, Attributes: appearance-->
        <div class="form-group row">
            <label for="appearance" class="col-sm-2 form-check-label">Appearance</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" id="appearance"
                       v-model="appearance"
                       name="appearance"
                       :class="{ 'is-invalid' : errors.appearance }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.appearance">
                    <strong>{{ errors.appearance.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Structure, Attributes: structure-->
        <div class="form-group row">
            <label for="structure" class="col-sm-2 form-check-label">Structure</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" id="structure"
                       v-model="structure"
                       name="structure"
                       :class="{ 'is-invalid' : errors.structure }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.structure">
                    <strong>{{ errors.structure.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Melting Point, Attributes: meltingpoint-->
        <div class="form-group row">
            <label for="meltingpoint" class="col-sm-2 form-check-label">Melting Point</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" id="meltingpoint"
                       v-model="meltingpoint"
                       name="meltingpoint"
                       :class="{ 'is-invalid' : errors.meltingpoint }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.meltingpoint">
                    <strong>{{ errors.meltingpoint.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Density, Attributes: density-->
        <div class="form-group row">
            <label for="density" class="col-sm-2 form-check-label">Density</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" id="density"
                       v-model="density"
                       name="density"
                       :class="{ 'is-invalid' : errors.density }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.density">
                    <strong>{{ errors.density.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Shear Modulus, Attributes: shearmodulus-->
        <div class="form-group row">
            <label for="shearmodulus" class="col-sm-2 form-check-label">Shear Modulus</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" id="shearmodulus"
                       v-model="shearmodulus"
                       name="shearmodulus"
                       :class="{ 'is-invalid' : errors.shearmodulus }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.shearmodulus">
                    <strong>{{ errors.shearmodulus.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Young Modulus, Attributes: youngmodulus-->
        <div class="form-group row">
            <label for="youngsmodulus" class="col-sm-2 form-check-label">Young Modulus</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" id="youngsmodulus"
                       v-model="youngsmodulus"
                       name="youngsmodulus"
                       :class="{ 'is-invalid' : errors.youngsmodulus }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.youngsmodulus">
                    <strong>{{ errors.youngsmodulus.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Bulk Modulus, Attributes: bulkmodulus-->
        <div class="form-group row">
            <label for="bulkmodulus" class="col-sm-2 form-check-label">Bulk Modulus</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" id="bulkmodulus"
                       v-model="bulkmodulus"
                       name="bulkmodulus"
                       :class="{ 'is-invalid' : errors.bulkmodulus }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.bulkmodulus">
                    <strong>{{ errors.bulkmodulus.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Formation Energy, Attributes: formationenergy-->
        <div class="form-group row">
            <label for="formationenergy" class="col-sm-2 form-check-label">Formation Energy</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" id="formationenergy"
                       v-model="formationenergy"
                       name="formationenergy"
                       :class="{ 'is-invalid' : errors.formationenergy }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.formationenergy">
                    <strong>{{ errors.formationenergy.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Band Gape Energy, Attributes: bandgapenergy-->
        <div class="form-group row">
            <label for="bandgapenergy" class="col-sm-2 form-check-label">Band Gape Energy</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" id="bandgapenergy"
                       v-model="bandgapenergy"
                       name="bandgapenergy"
                       :class="{ 'is-invalid' : errors.bandgapenergy }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.bandgapenergy">
                    <strong>{{ errors.bandgapenergy.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Mohs Hardness, Attributes: mohshardness-->
        <div class="form-group row">
            <label for="mohshardness" class="col-sm-2 form-check-label">Mohs Hardness</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" id="mohshardness"
                       v-model="mohshardness"
                       name="mohshardness"
                       :class="{ 'is-invalid' : errors.mohshardness }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.mohshardness">
                    <strong>{{ errors.mohshardness.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Vickers Hardness, Attributes: vickershardness-->
        <div class="form-group row">
            <label for="vickershardness" class="col-sm-2 form-check-label">Vickers Hardness</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" id="vickershardness"
                       v-model="vickershardness"
                       name="vickershardness"
                       :class="{ 'is-invalid' : errors.vickershardness }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.vickershardness">
                    <strong>{{ errors.vickershardness.toString() }}</strong>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "settings",
        data() {
            return {
                material: '',
                errors: '',
                category: '',
                composition: '',
                appearance: '',
                structure: '',
                meltingpoint: '',
                boilingpoint: '',
                density: '',
                shearmodulus: '',
                youngsmodulus: '',
                bulkmodulus: '',
                image: '',
                formationenergy: '',
                bandgapenergy: '',
                mohshardness: '',
                vickershardness: '',
            }
        },
    }
</script>

<style scoped>

</style>
